.btn{
    display: block;
    align-items: center;
}
h2{
    text-align: center;
    color: rgb(77, 6, 147);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
mat-card{
    background-color: azure;
}
.main{
    width: 100%;
    margin: auto;
}
mat-form-field{
    width: 100%;
}