<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr  class="table-secondary">
            <th scope="col">S.No</th>
            <th scope="col">FestName</th>
            <th scope="col">Start From</th>
            <th scope="col">End</th>
            <th scope="col">Description</th>
            <th scope="col">Organizer</th>
            <th scope="col">File</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let F of ViewFest index as i">
            <th>{{i+1}}</th>
            <td>{{F.festname}}</td>
            <td>{{F.startfrom | date}}</td>
            <td>{{F.end | date}}</td>
            <td>{{F.description}}</td>
            <td>{{F.username}}</td>
            <td><img src={{F.file}} width="80px" height="80px"></td>
          </tr>
        </tbody>
      </table>
    </div>

