mat-card{
    margin:  3rem auto;
    text-align: center;
    background-color: rgb(241, 236, 229);
    width: 50%;
}
.full-width-input{
    width: 100%;
}
h2{
    color: blue;
    font-weight: 700;

}
